.itk-slider {
    width: 50%;
    margin: 0 auto;

    /*вырвниывник по центру картинки*/
    text-align: center;
}

/*Вырванивание размеров картинок*/
.itk-slider .slide-img {
    width: 70%;
    height: 300px;
}
